@page "/ModalPage"

@inject IModalService Modal 

<h1>Hello, world!</h1>

Welcome to Blazored Modal.

<button @onclick="@(() => Modal.Show<MyComponent>("My Movies"))" class="btn btn-primary">View Movies</button>

@code {

}