@page "/MyComponent"
@inject IModalService Modal

<h3>MyComponent</h3>

<h3>@Message</h3>

Hello from my modal component

@code {
    [CascadingParameter] ModalParameters parameters { get; set; }
    string Message { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        Message = parameters.Get<string>("Message");
    }

    void Confirm()
    {
        Modal.Close(ModalResult.Ok<string>(""));
    }

    void Cancel()
    {
        Modal.Cancel();
    }
}
