@page "/readdata"

<h3>ReadData</h3>


<ToDoApp.Data.DataAccessManager @ref="ReadData"></ToDoApp.Data.DataAccessManager>
<button type="button" class="btn btn-primary" @onclick="ReadFromCSV"> Submit </button>


@code {
    //private ToDoApp.Data.DataAccessManager { get; set; }
}




